<% content_for :head do %>
  <title>vicancy platform - FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="preheader">
  <div class="masthead">
    <div class="w-container">
      <h1>Support</h1>
      <img class="logo" src="/images/logo_vicancy_whiteinside.png" height="150" alt="logo_vicancy_whiteinside.png">
    </div>
  </div>
  <div class="navigation">
    <div class="w-container">
      <a class="new-video" href="/"><h3 class="navbutton navbuttonfirst" target="_blank">Vicancy.com</h3></a>
      <!-- <a href="#" data-toggle="popover" title data-content="Type uw unieke adres in de browser om naar uw videomanager te gaan. Bijvoorbeeld: vicancy.com/users/dnq29t7" data-original-title="Uw Videomanager"><h3 class="navbutton">Videomanager</h3></a> -->
      <a ><h3 class="navbutton navbutton" data-toggle="modal" data-target="#ContactModal">Contact</h3></a>
    </div>
  </div>
</div>
<div class="main">
  <div class="w-container maincontainer">
    <!-- <h2>Support</h2> -->
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">Aanmaken &amp; Wijzigen</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalCreate">Aanmaken</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalImages">Afbeeldingen gebruiken</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalEdit">Wijzigen doorgeven</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalDelete">Verwijderen</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalCustomize">Customization</h4>
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">Delen &amp; Social Media</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalSocialMedia">Social Media</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalEmbed">Embedden / Integreren</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalOffline">Offline gebruiken</h4>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">Operationeel</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalDelivery">Levertijd</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalVideomanager">Videomanager</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalHosting">Hosting</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalBilling">Facturering</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalSEO">SEO</h4>
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">Overige vragen</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalCompeo">Bedrijfsanimaties</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalEventVideos">Evenement-animaties</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#ModalTerms">Gebruiksvoorwaarden</h4>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="contact faq">
          <img class="vicancylogo" src="/images/Vicancy_Loet_icon.png" height="35" alt="Vicancy Logo">
          <h4 class="whiteboxtop faq">Contact</h4>
          <div class="bottom faq">
            <p class="faq">Heeft u een andere vraag, of wilt u liever direct persoonlijke ondersteuning?
              <br>
              <br>Neem dan contact met ons op.
              <br>
              <br>Mail: loet@vicancy.com
              <br>Tel: 06 - 306 970 34</p><a class="button primary" href="mailto:loet@vicancy.com">Email Loet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script type="text/javascript" src="js/webflow.js"></script>

<%= render 'layouts/contactmodal' %>
<%= render "static_pages/faq/faq_billing" %>
<%= render "static_pages/faq/faq_compeo" %>
<%= render "static_pages/faq/faq_costs" %>
<%= render "static_pages/faq/faq_create" %>
<%= render "static_pages/faq/faq_customize" %>
<%= render "static_pages/faq/faq_delete" %>
<%= render "static_pages/faq/faq_delivery" %>
<%= render "static_pages/faq/faq_direct_mailing" %>
<%= render "static_pages/faq/faq_edit" %>
<%= render "static_pages/faq/faq_embed" %>
<%= render "static_pages/faq/faq_event_videos" %>
<%= render "static_pages/faq/faq_hosting" %>
<%= render "static_pages/faq/faq_images" %>
<%= render "static_pages/faq/faq_offline" %>
<%= render "static_pages/faq/faq_seo" %>
<%= render "static_pages/faq/faq_social_media" %>
<%= render "static_pages/faq/faq_terms" %>
<%= render "static_pages/faq/faq_videomanager" %>