<% content_for :head do %>
  <title>vicancy platform - FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="preheader">
  <div class="masthead">
    <div class="w-container">
      <h1>F.A.Q.</h1>
      <img class="logo" src="/images/logo_vicancy_transparent_notext.png" height="150" alt="logo_vicancy_transparent_notext.png">
    </div>
  </div>
  <div class="navbar"></div>
</div>
<div class="main">
  <div class="w-container maincontainer">
    <h2>Frequently Asked Questions</h2>
    <div class="w-row">
      <div class="w-col w-col-8">
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">1. Delen &amp; Social Media</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal101">1.1  Integreer (<strong>embed</strong>) Vicancy® in een website</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal102">1.2  Vicancy® in direct <strong>mailing </strong>inzetten</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal103">1.3  Delen op <strong>Facebook</strong>, <strong>Twitter </strong>en <strong>LinkedIn</strong></h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal104">1.4  <strong>Offline </strong>- Vicancy® gebruiken op beurzen en workshops</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">2. Aanmaken &amp; Aanpassingen van Vicancy®</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal201">2.1  Hoe maak ik Vicancy® aan?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal202">2.2  <strong>Afbeeldingen </strong>gebruiken in Vicancy®</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal203">2.3  Aanpassingen doorvoeren nadat Vicancy® is opgeleverd</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal204">2.4  Uw eigen Vicancy® <strong>template </strong>(andere kleur, audio, etc.)</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">3. Operationeel</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal301">3.1  <strong>Levertijd </strong>van Vicancy®</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal302">3.2  Hoe weet ik dat mijn Vicancy® klaar is?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal303">3.3  Wat is het <strong>Vicancy platform</strong>?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal304">3.4  <strong>Hosting </strong>- waar wordt mijn Vicancy® gehost?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal305">3.5  Hoeveel vicancies kunnen per dag geproduceerd worden?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal306">3.6  Vicancy® en <strong>SEO </strong>(search engine optimization)</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">4. Kosten &amp; Facturering</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal401">4.1  Kosten van Vicancy® en uw eigen template</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal402">4.2  Hoe werkt de facturering?</h4>
          </div>
        </div>
        <div class="createnewbox faq">
          <div class="newboxtop">
            <h4 class="newboxtop faq">5. Overige vragen &amp; Andere Producten</h4>
          </div>
          <div class="newboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal501">5.1  Video-animaties voor kandidaten, werkzoekenden &amp; detachering</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal502">5.2  <strong>Bedrijfsanimaties</strong> &amp; animaties voor evenementen</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal503">5.3  <strong>Reseller</strong> worden</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal504">5.4  Gebruiksvoorwaarden &amp; Privacy Policy</h4>
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="vicancy faq">
          <img class="vicancylogo" src="/images/Vicancy_Loet_icon.png" height="35" alt="Vicancy Logo">
          <h4 class="newboxtop faq">Contact</h4>
          <div class="vicancy-action faq">
            <p class="faq">Heeft u een andere vraag, of wilt u liever direct persoonlijke ondersteuning?
              <br>
              <br>Neem dan contact op met ons.
              <br>Uw contactpersoon is <strong>Loet Rammelsberg</strong>
              <br>
              <br>Mail: loet@vicancy.com
              <br>Tel: 06 - 306 970 34</p><a class="button primary" href="mailto:loet@vicancy.com">Email Loet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script type="text/javascript" src="js/webflow.js"></script>

<%= render "static_pages/faq/faq101" %>
<%= render "static_pages/faq/faq102" %>
<%= render "static_pages/faq/faq103" %>
<%= render "static_pages/faq/faq104" %>
<%= render "static_pages/faq/faq201" %>
<%= render "static_pages/faq/faq202" %>
<%= render "static_pages/faq/faq203" %>
<%= render "static_pages/faq/faq204" %>
<%= render "static_pages/faq/faq301" %>
<%= render "static_pages/faq/faq301" %>
<%= render "static_pages/faq/faq303" %>
<%= render "static_pages/faq/faq304" %>
<%= render "static_pages/faq/faq305" %>
<%= render "static_pages/faq/faq306" %>
<%= render "static_pages/faq/faq401" %>
<%= render "static_pages/faq/faq402" %>
<%= render "static_pages/faq/faq501" %>
<%= render "static_pages/faq/faq502" %>
<%= render "static_pages/faq/faq503" %>
<%= render "static_pages/faq/faq504" %>