<% content_for :head do %>
  <title>vicancy platform - FAQ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<div class="preheader">
  <div class="masthead">
    <div class="w-container">
      <h1>Support</h1>
      <img class="logo" src="/images/logo_vicancy_whiteinside.png" height="150" alt="logo_vicancy_whiteinside.png">
    </div>
  </div>
  <div class="navigation">
    <div class="w-container">
      <a class="new-video" href="/"><h3 class="navbutton navbuttonfirst" target="_blank">Vicancy.com</h3></a>
      <!-- <a href="#" data-toggle="popover" title data-content="Type uw unieke adres in de browser om naar uw videomanager te gaan. Bijvoorbeeld: vicancy.com/users/dnq29t7" data-original-title="Uw Videomanager"><h3 class="navbutton">Videomanager</h3></a> -->
      <a ><h3 class="navbutton navbutton" data-toggle="modal" data-target="#ContactModal">Contact</h3></a>
    </div>
  </div>
</div>
<div class="main">
  <div class="w-container maincontainer">
    <h2>Support</h2>
    <div class="w-row">
      <div class="w-col w-col-8">
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">1. Delen &amp; Social Media</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal101">1.1  Integreer (<strong>embed</strong>) de videovacature in een website</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal102">1.2  Videovacatures in direct <strong>mailing </strong>inzetten</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal103">1.3  Delen op <strong>Facebook</strong>, <strong>Twitter </strong>en <strong>LinkedIn</strong></h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal104">1.4  <strong>Offline </strong>- videovacatures gebruiken op beurzen en workshops</h4>
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">2. Aanmaken &amp; Aanpassingen van uw videovacature</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal201">2.1  Hoe maak ik een videovacature aan?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal202">2.2  <strong>Afbeeldingen </strong>gebruiken in uw videovacature</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal203">2.3  Aanpassingen doorvoeren nadat de videovacature is opgeleverd</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal204">2.4  Videovacatures <strong>verwijderen</strong></h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal205">2.5  Uw eigen Vicancy&reg; <strong>template</strong> (customization)</h4>
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">3. Operationeel</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal301">3.1  <strong>Levertijd </strong> en oplevering van onze videovacatures</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal302">3.2  Alles over uw <strong>Videomanager</strong></h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal303">3.3  <strong>Hosting </strong>- waar wordt mijn videovacature gehost?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal304">3.4  Videovacatures en <strong>SEO </strong>(search engine optimization)</h4>
            <!-- <h4 class="faq-question" data-toggle="modal" data-target="#Modal305">3.5  Hoeveel vicancies kunnen per dag geproduceerd worden?</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal306">3.6  Vicancy® en <strong>SEO </strong>(search engine optimization)</h4> -->
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">4. Kosten &amp; Facturering</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal401">4.1  Hoe werkt de facturering?</h4>
            <!-- <h4 class="faq-question" data-toggle="modal" data-target="#Modal402">4.2  Hoe werkt de facturering?</h4> -->
          </div>
        </div>
        <div class="whitebox faq">
          <div class="whiteboxtop">
            <h4 class="whiteboxtop faq">5. Overige vragen &amp; Andere Producten</h4>
          </div>
          <div class="whiteboxbottom">
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal501">5.1  Bedrijfsanimaties</h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal502">5.2  Animaties voor <strong>evenementen</strong></h4>
            <h4 class="faq-question" data-toggle="modal" data-target="#Modal503">5.3  Gebruiksvoorwaarden &amp; Privacy Policy</h4>
            <!-- <h4 class="faq-question" data-toggle="modal" data-target="#Modal504">5.4  Video-animaties voor kandidaten, werkzoekenden &amp; detachering</h4> -->
          </div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="contact faq">
          <img class="vicancylogo" src="/images/Vicancy_Loet_icon.png" height="35" alt="Vicancy Logo">
          <h4 class="whiteboxtop faq">Contact</h4>
          <div class="bottom faq">
            <p class="faq">Heeft u een andere vraag, of wilt u liever direct persoonlijke ondersteuning?
              <br>
              <br>Neem dan contact op met ons.
              <br>Uw contactpersoon is <strong>Loet Rammelsberg</strong>
              <br>
              <br>Mail: loet@vicancy.com
              <br>Tel: 06 - 306 970 34</p><a class="button primary" href="mailto:loet@vicancy.com">Email Loet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<script type="text/javascript" src="js/webflow.js"></script>

<%= render 'layouts/contactmodal' %>
<%= render "static_pages/faq/faq101" %>
<%= render "static_pages/faq/faq102" %>
<%= render "static_pages/faq/faq103" %>
<%= render "static_pages/faq/faq104" %>
<%= render "static_pages/faq/faq201" %>
<%= render "static_pages/faq/faq202" %>
<%= render "static_pages/faq/faq203" %>
<%= render "static_pages/faq/faq204" %>
<%= render "static_pages/faq/faq205" %>
<%= render "static_pages/faq/faq301" %>
<%= render "static_pages/faq/faq302" %>
<%= render "static_pages/faq/faq303" %>
<%= render "static_pages/faq/faq304" %>
<%= render "static_pages/faq/faq305" %>
<%= render "static_pages/faq/faq306" %>
<%= render "static_pages/faq/faq401" %>
<%= render "static_pages/faq/faq402" %>
<%= render "static_pages/faq/faq501" %>
<%= render "static_pages/faq/faq502" %>
<%= render "static_pages/faq/faq503" %>
<%= render "static_pages/faq/faq504" %>