<% content_for :jquery do %>
	<% if !video.vimeo_id.blank? %>
	$.getJSON('http://vimeo.com/api/v2/video/<%= video.vimeo_id %>.json', function(data) {
		$('#video_<%= video.id %>_thumbnail').attr('src',data[0].thumbnail_large);
	});
	<% elsif !video.youtube_id.blank? %>
		$('#video_<%= video.id %>_thumbnail').attr('src','http://img.youtube.com/vi/<%= video.youtube_id %>/0.jpg');
	<% else %>
	$('#video_<%= video.id %>_thumbnail').attr('src','/images/video_thumbnail.png');
	<% end %>
<% end %>

<div class="video vicancy">
	<div class="w-clearfix top" data-toggle="collapse" data-parent="#video-list" href="#video_<%= video.id %>_body">
	  <img class="vicancylogo" src="/images/logo_vicancy_transparent_notext.png" height="35" alt="logo_vicancy_transparent_notext.png">
	  <h4><%= video_title(video).gsub(' - ', ' &ndash; ').html_safe %></h4>
	  <h5><%= I18n.l video.created_at.to_date, format: :video %></h5>
	</div>
	<div class="panel-collapse actions collapse<%= " in" if video_counter == 0 %>" id="video_<%= video.id %>_body">
	    <div class="w-row actioncontainer">
	      <div class="w-col w-col-5 previewrow">
	      	<a class="preview-video" href="<%= video.embed_url %>?autoplay=1" data-fancybox-type="iframe">
	      		<img src="" id="video_<%= video.id %>_thumbnail" class="video-thumbnail videothumbnail img-responsive-full" />
	      		<img class="play-icon-overlay" src="/images/video_play_icon_transparent.png" width="150" alt="video_play_icon_transparent.png">
	      	</a>	        
	      </div>
	      <div class="w-col w-col-7 w-clearfix actionrow">
	        
	        <!-- Edit -->
	        <a class="edit-video" href="<%= edit_video_path(video) %>" data-fancybox-type="ajax"><h5 class="action-text"><i class="fa fa-edit"></i> Edit</h5></a>
	        
	        <!-- Delete -->
	        <%= link_to '<h5 class="action-text"><i class=\'fa fa-trash-o\'></i> Delete</h5>'.html_safe, video_path(video), method: :delete, confirm: 'Are you sure you want to ask for this video to be deleted?', class: 'delete-video', 'data-message' => 'Are you sure you want to ask for this video to be deleted?', 'data-severity' => 'danger', :remote => true %>	
	        
	        <h5 class="action-text"> Share:</h5>
	        
	        <!-- Twitter -->
	        <a  class="btn-twitter btn-share"title="Share on Twitter" data-window-height="260" href="<%= twitter_share_link(video) %>"><h5 class="action-text"><i class="fa fa-twitter share twitter"></i></h5></a>
	        
	        <!-- Facebook -->
	        <a  class="btn-facebook btn-share"title="Share on Facebook" href="<%= facebook_share_link(video) %>"><h5 class="action-text"><i class="fa fa-facebook-square share facebook"></i></h5></a>
	        
	        <!-- LinkedIn-->
	        <a class="btn-linkedin btn-share" title="Share on LinkedIn" data-window-width="600" data-window-height="480" href="<%= linkedin_share_link(video) %>"><h5 class="action-text"><i class="fa fa-linkedin-square share linkedin"></i></h5></a>
	        
	        <!-- Embed-->
	        <a class="btn-embed" data-fancybox-href="#video_<%= video.id %>_embed_code" title="Show embed code"><h5 class="action-text"><i class="fa fa-code share embed"></i></h5></a>
        		<div class="embed-code" id="video_<%= video.id %>_embed_code">
		 					<h3>Embed code</h3>
		 					<textarea class="form-control" rows=4><%= embed_code(video) %></textarea><br />
			 				<h3>Link</h3>
			 				<textarea class="form-control" rows=1><%= video.video_url %></textarea>
	 					</div>

	 				<!-- tooltips -->
	        <div class="actiontip" id="actiontip-edit">
	          <p class="action-text">Klik 'edit' om een revisie aan te vragen - bijvoorbeeld als er ergens een foutje zit</p>
	        </div>

	        <div class="actiontip" id="actiontip-delete">
	          <p class="action-text">Haal deze Vicancy&reg; offline (verwijderen)</p>
	        </div>

	        <div class="actiontip" id="actiontip-twitter">
	          <p class="action-text">Deel je Vicancy&reg; op Twitter</p>
	        </div>

	        <div class="actiontip" id="actiontip-facebook">
	          <p class="action-text">Deel je Vicancy&reg; op Facebook</p>
	        </div>

	        <div class="actiontip" id="actiontip-linkedin">
	          <p class="action-text">Deel je Vicancy&reg; op LinkedIn</p>
	        </div>

	        <div class="actiontip" id="actiontip-embed">
	          <p class="action-text">Embed-code en link van deze Vicancy&reg;</p>
	        </div>
	      </div>
	    </div>
	</div>
</div>