<% content_for :jquery do %>
	<% if !video.vimeo_id.blank? %>
	$.getJSON('http://vimeo.com/api/v2/video/<%= video.vimeo_id %>.json', function(data) {
		$('#video_<%= video.id %>_thumbnail').attr('src',data[0].thumbnail_large);
	});
	<% elsif !video.youtube_id.blank? %>
		$('#video_<%= video.id %>_thumbnail').attr('src','http://img.youtube.com/vi/<%= video.youtube_id %>/0.jpg');
	<% else %>
	$('#video_<%= video.id %>_thumbnail').attr('src','/images/video_thumbnail.png');
	<% end %>
<% end %>

<div class="video vicancy">
	<div class="w-clearfix top" data-toggle="collapse" data-parent="#video-list" href="#video_<%= video.id %>_body">
	  <img class="vicancylogo" src="/images/logo_vicancy_transparent_notext.png" height="35" alt="logo_vicancy_transparent_notext.png">
	  <h4><%= video_title(video).gsub(' - ', ' &ndash; ').html_safe %></h4>
	  <h5><%= I18n.l video.created_at.to_date, format: :video %></h5>
	</div>
	<div class="panel-collapse actions collapse<%= " in" if video_counter == 0 %>" id="video_<%= video.id %>_body">
	    <div class="w-row actioncontainer">
	      <div class="w-col w-col-5 previewrow">
	      	<a class="preview-video" href="<%= video.embed_url %>?autoplay=1" data-fancybox-type="iframe">
	      		<img src="" id="video_<%= video.id %>_thumbnail" class="video-thumbnail videothumbnail img-responsive-full" />
	      		<img class="play-icon-overlay" src="/images/video_play_icon_transparent.png" width="150" alt="video_play_icon_transparent.png">
	      	</a>	        
	      </div>
	      <div class="w-col w-col-7 w-clearfix actionrow">
	        <h5 class="action-text"><i class="fa fa-edit"></i> Edit</h5>
	        <h5 class="action-text"><i class="fa fa-trash-o"></i> Delete</h5>
	        <h5 class="action-text"> Share:</h5>
	        <h5 class="action-text"><i class="fa fa-twitter"></i></h5>
	        <h5 class="action-text"><i class="fa fa-facebook-square"></i></h5>
	        <h5 class="action-text"><i class="fa fa-linkedin-square"></i></h5>
	        <h5 class="action-text"><i class="fa fa-code"></i></h5>
	        <div class="tooltip">
	          <p class="tooltip-text">Deel je Vicancy® op Facebook</p>
	        </div>
	      </div>
	    </div>
	</div>
</div>