<div class="video panel panel-default">
  <div class="panel-heading" data-toggle="collapse" data-parent="#video-list" href="#video_<%= video.id %>_body">	  
  	<div class="row">
	  	<div class="col-xs-8">
	  		<h2 class="panel-title"><%= video_title(video).gsub(' - ', ' &ndash; ').html_safe %></h2>
	  	</div>
	  	<div class="col-xs-4">
	  		<div class="date pull-right">
	  			<%= I18n.l video.created_at.to_date, format: :video %>
	  		</div>
	  	</div>
  	</div>
  </div>
  <div class="panel-collapse collapse<%= " in" if video_counter == 0 %>" id="video_<%= video.id %>_body">
	  <div class="panel-body">
	  	<div class="row">
	  	<div class="control-buttons col-sm-12 col-md-6">
		  	<button class="btn btn-default preview-video" href="<%= video.embed_url %>?autoplay=1" data-fancybox-type="iframe"<%= 'disabled="disabled"' if video.embed_url.blank? %>><i class="fa fa-play"></i> Preview</button>
		  	<button class="btn btn-default edit-video" href="https://tobymarsden.wufoo.com/forms/zsz21ev1rupvpk/" data-fancybox-type="iframe"><i class="fa fa-edit"></i> Edit</button>
		  	 
		  	<%= link_to '<i class=\'fa fa-trash-o\'></i> <span>Delete</span>'.html_safe, video_path(video), method: :delete, confirm: 'Are you sure you want to ask for this video to be deleted?', class: 'btn btn-default delete-video', 'data-message' => 'Are you sure you want to ask for this video to be deleted?', 'data-severity' => 'danger', :remote => true %>	
		 </div>
		 <div class="sharing-buttons col-sm-12 col-md-6">
		 	<strong>Share:</strong>&nbsp;&nbsp;
		 	<a class="btn btn-default btn-linkedin btn-share" title="Share on LinkedIn" data-window-width="600" data-window-height="480" href="<%= linkedin_share_link(video) %>"><i class="fa fa-linkedin"></i></a>
		 	<a class="btn btn-default btn-twitter btn-share" title="Share on Twitter" data-window-height="260" href="<%= twitter_share_link(video) %>"><i class="fa fa-twitter"></i></a>
		 	<a class="btn btn-default btn-facebook btn-share" title="Share on Facebook" href="<%= facebook_share_link(video) %>"><i class="fa fa-facebook"></i></a>
		 	<button data-fancybox-href="#video_<%= video.id %>_embed_code" class="btn btn-default btn-embed" title="Show embed code"><i class="fa fa-code"></i> Embed</button>
		 </div>

		 <div class="embed-code" id="video_<%= video.id %>_embed_code">
			 	<h3>Embed code</h3>
			 	<textarea class="form-control" rows=6><%= embed_code(video) %></textarea>
		 </div>
		</div>
	  </div>
	</div>
</div>