<!DOCTYPE html>
<html>
<head>
  <title><%= @client.name %> | Vicancy®</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <meta charset="utf-8">
  <%= render 'layouts/mixpanel' %>
  <style>
    body {
        background-image: url('<%= image_path 'gray_jean_pattern.png' %>');
        background-repeat: repeat;
    }
  </style>
</head>
<body>

<%= javascript_include_tag 'widget-api' %>

<script type="text/javascript">
    vicancy.open({
        clientId: "<%== j @client.external_id %>",
        clientName: "<%== j @client.name %>",
        clientEmail: "<%== j @client.email %>",
        clientLanguage: "<%== j @client.get_language %>",
        apiToken: "<%== j @client.reseller.token %>",
        neverClose: true
    });
</script>
</body>
</html>
