<%= render 'alerts' %>

<div class="wg-container-bottomless" id="landing_page" style="display: none;">
  <div class="container-fluid nopadding">
    <section class="s1">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center" style="position:absolute; top: -12px; left: 0px; z-index: 0;">
            <img src="<%= image_path('widget/landing/hero.svg') %>" onerror="this.src=<%= image_path('widget/landing/hero.png') %>" width="820" height="522">
          </div>
          <div style="position: relative">
            <div class="text-center">
              <a href="http://www.vicancy.com" target="_blank">
                <img src="<%= image_path('widget/landing/logo_vicancy_text.png') %>" class="s1_logo">
              </a>
            </div>
            <div class="text-center">
              <p class="s1_logo_subtext">{{ i18n 'landing.leader' }}</p>
            </div>
            <div class="text-center s1_head">{{ i18n 'landing.convert_html' }}</div>
            <div class="text-center s1_button">
              <a {{ action 'scrollTryNow' }} class="btn btn-land btn-lg" style="width: 200px">{{ i18n 'landing.try_now' }}</a>
            </div>
            <div class="text-center s1_scroll">
              <div class="scroll_text">{{ i18n 'landing.scroll' }}</div>
              <div class="scroll_icon"><i class="fa fa-angle-down fa-lg"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s2">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2>{{ i18n 'landing.see_it' }}</h2>
          </div>
        </div>
      </div>
      <div class="row s2_example">
        <div class="col-xs-3">
          <div class="text-center testimonial_logo">
            <img src="<%= image_path('widget/landing/theguardian.png') %>" class="img-responsive" width="150">
          </div>
          <div class="text-left testimonial_text">
            <p>{{ i18n 'landing.quote' }}</p>
          </div>
          <div class="text-left">
            <p><strong>{{ i18n 'landing.author' }}</strong><br><span class="text-muted">{{ i18n 'landing.title' }}</span></p>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="text-center embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/88338939?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row s2_bottom">
        <div class="col-xs-12">
          <div class="text-center">
            <a class="btn btn-lg btn-default-land" href="http://www.vimeopro.com/vicancy/vicancy" target="_blank">{{ i18n 'landing.see_more' }}</a>
            <span>&nbsp;&nbsp;</span>
            <a {{ action 'scrollTryNow' }} class="btn btn-land btn-lg" style="width: 200px">{{ i18n 'landing.try_now' }}</a>
          </div>
          <div class="text-center s2_scroll">
            <div class="scroll_icon"><i class="fa fa-angle-down fa-lg"></i></div>
          </div>
        </div>
      </div>
    </section>
    <section class="s3">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2>{{ i18n 'landing.try_us' }}</h2>
          </div>
        </div>
      </div>
      <div class="row s3_points">
        <div class="col-xs-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object s3_img" src="<%= image_path('widget/landing/point_viral.png') %>">
            </div>
            <div class="media-body">
              <div class="s3_subhead">{{ i18n 'landing.feat1' }}</div>
              <p class="s3_text">{{ i18n 'landing.feat1t_html' }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object s3_img" src="<%= image_path('widget/landing/point_targeting.png') %>">
            </div>
            <div class="media-body">
              <div class="s3_subhead">{{ i18n 'landing.feat2' }}</div>
              <p class="s3_text">{{ i18n 'landing.feat2t_html' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row s3_points">
        <div class="col-xs-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object s3_img" src="<%= image_path('widget/landing/point_conversion.png') %>">
            </div>
            <div class="media-body">
              <div class="s3_subhead">{{ i18n 'landing.feat3' }}</div>
              <p class="s3_text">{{ i18n 'landing.feat3t_html' }}</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="media">
            <div class="pull-left">
              <img class="media-object s3_img" src="<%= image_path('widget/landing/point_timing.png') %>">
            </div>
            <div class="media-body">
              <div class="s3_subhead">{{ i18n 'landing.feat4' }}</div>
              <p class="s3_text">{{ i18n 'landing.feat4t_html' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row s3_bottom">
        <div class="col-xs-12">
          <img src="<%= image_path('widget/landing/contact_arrow_bg.svg') %>" onerror="this.src=<%= image_path('widget/landing/contact_arrow_bg.png') %>" >
        </div>
      </div>
    </section>
    <section class="s4" id="try_now">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2>{{ i18n 'landing.use_vicancy_html' }}</h2>
          </div>
        </div>
      </div>
      <form role="form" id="submit_try_now_form" class="s4_form">
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label for="submit_try_now_email">{{ i18n 'landing.your_email' }}</label>
              <input type="email" class="form-control veryfast" id="submit_try_now_email" placeholder="company@example.com">
            </div>
          </div>
          <div class="col-xs-8">
            <div class="form-group">
              <label for="submit_try_now_url">{{ i18n 'landing.url_to_job' }}</label>
              <input type="url" class="form-control veryfast" id="submit_try_now_url" placeholder="http://..">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="submit_try_now_comments">{{ i18n 'landing.comments_html' }}</label>
              <textarea class="form-control" id="submit_try_now_comments" rows="6"></textarea>
            </div>
            <div class="text-center s4_button">
              <p class="text-muted">{{ i18n 'landing.videojob' }}</p>
              <a {{ action 'submit' }} id="submit_try_now" class="btn btn-land btn-lg" style="width:
              200px"><span id="submit_try_now_spinner" style="display: none;"><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;</span>{{ i18n 'landing.try_now' }}</a>
            </div>
          </div>
        </div>
      </form>
    </section>
    <div class="row s5 hidden">
      <div class="col-xs-8">

      </div>
      <div class="col-xs-4">
        <div class="text-right">
          © Vicancy company
        </div>
      </div>
    </div>
  </div>
</div>
