<!DOCTYPE html>
<html>
<head>
  <title>Vicancy®</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>

	<!-- Old Style
	<nav class="navbar navbar-static-top navbar-default navbar-inverse" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Vicancy</a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/#contact">Contact</a></li>
		  <li><a href="/support">Support</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse ->
	</div>
	</nav> -->

	<div class="preheader">
    <div class="masthead">
      <div class="w-container">
        <h1>Dashboard</h1>
        <img class="logo" src="/images/logo_vicancy_transparent_notext.png" height="150" alt="logo_vicancy_transparent_notext.png">
      </div>
    </div>
    <div class="navigation">
      <a href="/"><h3 class="navbutton navbuttonfirst">Vicancy</h3></a>
      <a href="/support" target="_blank"><h3 class="navbutton">Support</h3></a>
      <a class="new-video" href="/formulier" data-fancybox-type="iframe"><h3 class="navbutton">+ nieuwe vicancy</h3></a>
    </div>
  </div>

	<%= yield %>

	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			<%= yield :jquery %>
		});
	-->
	</script>

</body>
</html>
