<!DOCTYPE html>
<html>
<head>
  <title>Vicancy®</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>

	<!-- Old Style
	<nav class="navbar navbar-static-top navbar-default navbar-inverse" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Vicancy</a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/#contact">Contact</a></li>
		  <li><a href="/support">Support</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse ->
	</div>
	</nav> -->

	<div class="preheader">
    <div class="masthead">
      <div class="w-container">
        <h1>Videomanager</h1>
        <img class="logo" src="/images/logo_vicancy_whiteinside.png" height="150" alt="logo_vicancy_whiteinside.png">
      </div>
    </div>
    <div class="navigation">
      <div class="w-container">
        <a class="new-video" href="/formulier" data-fancybox-type="iframe"><h3 class="navbutton navbuttonfirst">+ nieuwe vicancy</h3></a>
        <a ><h3 class="navbutton navbutton" data-toggle="modal" data-target="#ContactModal">Contact</h3></a>
        <a href="/support" target="_blank"><h3 class="navbutton">Support</h3></a>
      </div>
    </div>
  </div>

	<%= yield %>

  <%= render "layouts/footer" %>


<!-- Modal201 -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <img src="/images/IMG_9431.jpg" alt="foto Loet" style="width:auto; height: 150px; border-radius: 4px; margin-left:25px;">
        <p>
          Heeft u een andere vraag, of wilt u liever direct persoonlijke ondersteuning?
          <br>
          <br>Neem dan contact op met ons.
          <br>Uw contactpersoon is <strong>Loet Rammelsberg</strong>
          <br>
          <br>Mail: loet@vicancy.com
          <br>Tel: 06 - 306 970 34</p><a class="button primary" href="mailto:loet@vicancy.com">Email Loet</a>
        </p>
      </div>
      <div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
			</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			<%= yield :jquery %>
		});
	-->
	</script>

</body>
</html>
